<% layout('/layouts/boilerplate') %>
<body>
  <div class="row justify-content-center py-5">
    <div class="col-md-6 m-3">
      <h3><%= listing.title %></h3>

      <div class="card listingcard">
        <img
          src="<%= listing.image %>"
          class="card-img-top show-img"
          alt="listing image"
        />
        <div class="card-body">
          <p class="card-text mb-0"><%= listing.description %></p>
          <p class="card-text mb-0">
            &#8377; <%= listing.price.toLocaleString("en-IN") %>
          </p>
          <p class="card-text mb-0"><%= listing.location %></p>
          <p class="card-text mb-0"><%= listing.country %></p>
        </div>
      </div>
      <div class="d-flex gap-5 align-items-center">
        <a href="/listings/<%= listing._id %>/edit"
          ><button class="btn btn-lg edit-btn">Edit</button>
        </a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-lg btn-dark delete-btn">Delete</button>
        </form>
      </div>
      <hr />
    </div>

    <div class="reviews col-md-6">
      <h4>Leave a Reviews</h4>
      <form
        action="/listings/<%= listing.id %>/reviews"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="input-group mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            min="0"
            max="5"
            id="rating"
            class="form-range"
            name="review[rating]"
          />
        </div>
        <div class="mb-2">
          <p>Comment</p>
          <textarea
            rows="5"
            cold="60"
            class="form-control"
            id="comment"
            name="review[comment]"
            required
          ></textarea>
          <div class="invalid-feedback">Please add a comment</div>
        </div>
        <button type="submit" class="btn btn-sm btn-dark">add</button>
      </form>
      <hr />
      <h4>All Reviews</h4>
      <div class="row">
        <% listing.reviews.forEach(review => { %>
        <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text"><%= review.rating %> stars</p>
            <form
              action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE"
              method="post"
            >
              <button type="submit" class="btn btn-sm btn-danger">
                delete
              </button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>
